/* Change background color to a dark shade */
body {
    background-color: #222;
}

/* Adjust text color for better readability */
.swagger-ui .swagger-ui-wrap .swagger-ui-content {
    color: #ddd;
}

/* Apply dark theme styles to various elements */
.swagger-ui .topbar {
    background-color: #333;
}
